@import url("https://fonts.googleapis.com/css2?family=Hanalei&family=Inconsolata&family=ZCOOL+KuaiLe&display=swap");

.transition {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
			145deg,
			rgba(0, 0, 0, 1),
			rgba(0, 0, 0, 0.6)
		),
    url(https://drive.google.com/uc?export=view&id=1CdJ6FHqMAm9njLa0SzHgM82qgclmAX7N);
  background-size: cover;
  background-repeat: no-repeat;
/*   background-color: rgba(135,135,135,.8); */
  box-sizing: block-box;
  margin: 0;
  position: fixed;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#header-container {
  position: fixed;
/*   background-color: rgba(15,15,105, 0.85); */
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}

#logo-box {
  width: 230px;
  height: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

#logo-icon {
  width: 30%;
  height: 80%;
  align-self: center;
  margin-left: 5px;
}

#file-upload-section {
  width: 100%;
  height: 100%;
/*   background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
}

#file-container-1 {
  width: 500px;
  margin: auto;
  margin-top: 70px;
  margin-left: 90px;
/*   background-color: red; */
  text-align: center;
}

#file-button {
  width: 33%;
  border: none;
  background-color: rgba(255,255,255,0.2);
  color: white;
  height: 85%;
  align-self: center;
  text-align: center;
  display: flex;
  margin: auto;

}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.file-field {
  height: auto;
  width: 500px;
  margin: auto;
  margin-top: 40px;
}

#upload-button span {
  color: black;
  font-family: Ubuntu;
}

#progress-detail {
  align-self: center;
/*   background-color: red; */
  width: auto;
  align-self: center;
  margin: auto;
  position: absolute;
  margin-left: 140px;
}

#remove {
  align-self: center;
  background-color: transparent;
  width: auto;
  color: white;
  border: none;
  align-self: center;
  margin: auto;
  position: absolute;
  margin-left: 340px;
}


#custom-propbar {
  margin: auto;
  margin-top: 4px;
  height: 75%;
  width: 100%;
  background-color: none;
}

#resetter {
  width: 50px;
  height: 50px;
  margin: auto;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 35px;
  margin-left: 520px;
}

#progress-div {
  width: 320px;
  height: 32px;
/*   background-color: tan; */
  position: absolute;
  margin: auto;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
}

.btn-property {
  margin: auto;
  color: white;
  padding: 3px 8px 3px 8px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}

.upload-icon {
  align-self: center;
  margin: auto;
  color: black;
  margin-right: 10px;
}

#input-box {
  width: 65%;
  height: 85%;
  align-self: center;
  text-align: center;
  display: flex;
  margin: auto;
  color: white;
  border:none;
  text-align: left;
  padding-left: 10px;
  background-color: rgba(255,255,255,.2);
}

form input[type="file"] {
  position: absolute;
  width: 66%;
  height: 45px;
  margin: auto;
  margin-left: 5px;
  align-self: center;
  opacity: 0;
}

#upload-file{
  height: 55px;
  width: 500px;
  border: 5px dashed #eeeeee;
  margin: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
}

#file-container-2 {
  width: 400px;
  margin: auto;
  background-color: red;
}

#btn-container {
  width: 50px;
  height: auto;
  display: flex;
  position: absolute;
  flex-direction: row;
  margin: auto;
  margin-top: 30px;
}

.info-text {
  font-family: Ubuntu;
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-size:32pt;
  line-height: 60px;
}

#logo-text {
  font-family: 'ZCOOL KuaiLe', cursive;
  width: auto;
  color: white;
  height: 80%;
  align-self: center;
  vertical-align: center;
  font-size: 40px;
  margin-left: 18px;
}

tspan a {
  background-color: rgb(238, 2, 140);
  padding: 2px 5px 4px 5px;
  align-self: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  margin: auto;
}

.custom-a {
  font-family: 'Inconsolata', monospace;
  border: 3px solid white;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.custom-a:hover {
  background-color: white;
  color: black;
  box-shadow:20px 20px 100px #eeeeee;
}


.custom-nav {
/*   background-color: yellow; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.custom-ul {
  box-sizing: border-box;
  align-self: center;
  display: flex;
}

.custom-li {
  padding: 20px;
  margin: auto;
}

.active {
  background-color: white;
  color: black;
  box-shadow:20px 20px 150px #eeeeee;
}

@media (min-width: 720px) {
  .visible-nav {
    visibility: visible;
  }

  .hidden-nav {
    visibility: hidden;
  }
}

@media (max-width: 720px) {
  .visible-nav {
    visibility: hidden;
  }

   .hidden-nav {
    visibility: visible;
  }

  #input-box {
    height: 70%;
  }

   #file-button {
    width: 30%;
    color: white;
    height: 70%;
    font-size: 12px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 12px;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-size: 12px;
    opacity: 1; /* Firefox */
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-size: 12px;
    opacity: 1; /* Firefox */
  }

  #file-upload-section {
/*     background-color: rgba(125,215,125,0.3); */
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    scroll-behaviour: smooth;
    margin-top: 180px;
  }

  #file-container-1 {
    width: 400px;
    margin: auto;
    margin-top: 50px;
/*     background-color: red; */
    text-align: center;

  }

  .file-field {
    height: auto;
    margin: auto;
    margin-top: 30px;
  }

  #upload-file{
    height: 55px;
    width: 400px;
    border: 5px dashed #eeeeee;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
  }

  #resetter {
    margin: auto;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    margin-left: 370px;
}
  #progress-div {
    width: 240px;
    height: 32px;
    background-color: tan;
    position: absolute;
  }

  #remove {
    margin-left: 250px;
  }

  #header-container {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #logo-box {
    padding: 0;
    margin: auto;
    height: 80px;
    justify-content: center;
  }

  #logo-icon {
    width: 55px;
    height: 65px;
    margin: auto;
  }

  #logo-text {
    width: 180px;
    height: 70px;
    margin-left: 20px;
    margin-top: 7px;
    justify-content: center;
    align-self: center;
  }

  .custom-nav {
    width: 100%;
    margin: auto;
    position: fixed;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

  .custom-ul-sm {
    width: 100%;
  }
}

@media (max-width: 450px) {

  #custom-propbar {
    margin: auto;
    margin-top: 3px;
    height: 75%;
    width: 100%;
    background-color: none;
  }

  .btn-property {
    padding: 1px 3px 1px 3px;
    font-size: 12px;
  }

  #file-button {
    width: 30%;
    color: white;
    height: 70%;
    font-size: 10px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 10px;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 1; /* Firefox */
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 1; /* Firefox */
  }


  .info-text {
    font-family: Ubuntu;
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 22pt;
    line-height: 40px;
  }

  #file-container-1 {
    width: 200px;
    margin: auto;
    margin-top: 50px;
/*     background-color: red; */
    text-align: center;

  }

  .file-field {
    height: auto;
    margin: auto;
    margin-top: 0px;
  }

  #upload-file{
    height: 30px;
    width: 200px;
    margin-top: 10px;
    border: 2px dashed #eeeeee;
  }

  #resetter {
    margin: auto;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: -50px;
  }

 #progress-div {
    width: 80px;
    height: 20px;
  /*   background-color: tan; */
    position: absolute;
    margin: auto;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
  }

  #remove {
    margin-left: 250px;
  }

  .custom-a {
    border: 1px solid white;
    border-radius: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
  }

  #header-container {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #logo-box {
    padding: 0;
    margin: auto;
    height: 70px;
    justify-content: center;
  }

  #logo-icon {
    width: 70px;
    height: 40px;
    margin: auto;
  }

  #logo-text {
    width: 180px;
    height: 50px;
    margin: auto;
    margin-left: 15px;
    font-size: 34px;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 450px) {

  #remove {
    align-self: center;
    margin-left: 85px;
  }

  #progress-detail {
    margin-left: 30px;
    font-size: 10px;
  }

  .custom-a {
    border: 1px solid white;
    border-radius: 2px;
    padding: 0;
    font-size: 11px;
  }
  #header-container {
    height: 70px;
  }

  #logo-box {
    height: 60px;
  }

  #logo-icon {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  #logo-text {
    width: 100px;
    margin-left: 15px;
    font-size: 31px;
  }

  .custom-li {
    margin: auto;
    padding: 0;
  }
}